* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlogo {
  height: 55px;
  width: 110px;
}
.logo {
  background-image: url("../image/ShopCard-logo\ \(2\).png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 55px;
  width: 110px;
}

.border {
  border: 2px solid transparent;
}
.border:hover {
  border: 2px solid white;
}
.address {
  width: 110px;
  height: 50px;
}
.p11 {
  font-size: 12px;
  color: #cccccc;
  margin-left: 15px;
  margin-top: 10px;
}
.p22 {
  font-size: 14px;
  color: #ffffff;
  text-transform: capitalize;
  margin-left: 3px;
}
.add1 {
  display: flex;
  align-items: center;
}
.navsearch {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  background-color: lightpink;
  border-radius: 4px;
  border: none;
}
.selector {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  font-size: 0.8em;
}
.border1:hover {
  border: 3px solid #42a5f5;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #90caf9;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.navsign {
  height: 50px;
  width: 125px;
  text-align: center;
}
.span {
  font-size: 0.7rem;
}
.navsign2 {
  font-size: 0.89rem;
  font-weight: 700;
}
.navsign1 {
  display: flex;
}
.clickable-div {
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  color: #afa8a8;
  font-size: 12px;
  margin-top: 4px;
}

.form-container {
  display: none;
  position: absolute;
  height: 450px;
  width: 510px;
  top: 60px;
  left: 75%;
  transform: translateX(-50%);
  border: 1px solid #cdee6a;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.form-containers {
  display: none;
  position: absolute;
  top: 60px;
  left: 72%;
  transform: translateX(-50%);
  color: #0f1111;
  border: 1px solid #cdee6a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);

  z-index: 1000;
}
.formain {
  height: 100px;
  width: 510px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Sign-up {
  height: 34px;
  width: 350px;
  border-radius: 6px;
  background-color: #90caf9;
  color: black;
  border-radius: 5.6px;
  padding: 2px;
  border: none;
}
.newuser {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 5px;
}
.sign-p {
  font-size: 13px;
  color: #0f1111;
}
.sign-a {
  font-size: 13px;
  text-decoration: none;
  color: #321fd6;
  margin-left: 3px;
}
.sign-hr {
  margin-top: -10px;
  margin-left: 18px;
  margin-right: 18px;
  border: none;
  height: 0.5px;
  background-color: rgb(43, 40, 40);
}
.sign-hr1 {
  height: 20.5px;
  size: 20px;
  background-color: rgb(43, 40, 40);
}
.sign-hr12 {
  rotate: (90deg);
}
.vertical-line {
  border-left: 0.1px solid rgb(43, 40, 40);
  height: 320px;
  margin: 10px;
  margin-top: 14px;
  width: 0.01px;
  background-color: rgb(43, 40, 40);
  left: 60%;
  transform: translateX(-50%);
  visibility: 50%;
}
.maindev {
  display: flex;
  height: 350;
  align-items: center;
  justify-content: space-evenly;
}
.dev-div {
  margin-top: 15px;
  margin-bottom: 10px;
}
.dev1 {
  margin-top: -140px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  align-items: start;
}
.dev2 {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: -70px;
  align-items: start;
}
.dev1-a {
  font-size: 13.5px;
  margin: 6px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(29, 28, 28);
}

.dev1-a:hover {
  color: #42a5f5;
  text-decoration: underline;
}
.sign-a:hover {
  color: #42a5f5;
}
.search-icon:hover {
  background: #42a5f5;
}

.navreturn {
  height: 50px;
  width: 125px;
  text-align: center;
}
.span {
  font-size: 0.7rem;
}
.navreturn2 {
  font-size: 0.89rem;
  font-weight: 700;
}
.navreturn1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navcard {
  width: 110;
  height: 50px;
  text-align: center;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
}
.card {
  font-size: 35px;
  font-weight: 1000px;
  margin-top: 10px;
  display: flex;
}
.card1 {
  font-size: 0.89rem;
  font-weight: 700px;
  justify-self: end;
  margin-top: 17px;
}
/*   this is for secondnavbar*/
.secondnavbar {
  height: 39px;
  display: flex;
  background-color: #222f3d;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  border: none;
}

.panel {
  font-size: 0.79rem;
  font-weight: 600px;
  text-align: center;
  color: #ffffff;
}
.panel2 p {
  display: inline;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 10px;
}
.panel2 {
  width: 60%;
  font-size: 0.9rem;
  font-weight: 200px;
}
.minitv {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700px;
}

.border2:hover {
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1.5px solid rgb(247, 240, 240);
}

main {
  background-color: #cccccc;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slides {
  display: flex;
}

.slides img {
  width: 100%;
  transition: transform 0.5s ease;
}

button:hover {
  border: 2px solid #321fd6;
}
